
    <%if(listing.reviews.length){%>

    <div class="offset-lg-2">

    <% for(review of listing.reviews) {%>

        <div class="review-box form-control mb-3 mt-4">

            <div style="display: flex;">

                <% for(let i = 0; i < review.rating; i++){ %>

                    <h6 class="card-subtitle mb-1 text-body-secondary" style="font-size: x-small;">⭐</h6>

                <% } %>

            </div>


            <p class="card-text mb-0"><%= review.comment %></p>
            
            <h6  class="text-end " style="font-size: x-small;"><%= review.created_at.toLocaleString().slice(0, 8) %></h6>

                
            <form method="delete" action="/listings/<%=listing.id%>/reviews/<%=review.id%> ">

                <button class="btn btn-dark">Delete</button>

            </form>

        </div>
        

    <% } %>

    </div>

    <% }else{ %>

        <div>

            <p>Be the first to add a review!</p>

        </div>
        
    <%}%>

    <br>












<!-- 
        <div class="review-box form-control mb-3 mt-4">

            <div style="display: flex;">

                <% for(let i = 0; i < review.rating; i++){ %>

                    <h6 class="card-subtitle mb-1 text-body-secondary" style="font-size: x-small;">⭐</h6>

                <% } %>

            </div>


            <p class="card-text mb-0"><%= review.comment %></p>
            
            <h6  class="text-end " style="font-size: x-small;"><%= review.created_at.toLocaleString().slice(0, 8) %></h6>

        </div> -->
